target
.vscode
.memories/*
**.md
**.MD
**/.md
**/.MD
!ALSHSPEC.md
!README.md
!ISSUES.md
!NEW_FEATURES.md
stdlib_tests/*.md

*.o
*.a
*.so
*.ll
*.ir.o
a.out
*.exe
*.rlib

alsh-std/impl/rust/target

examples/a.out
tests/a.out
test/a.out
stdlib_tests/a.out

otherfiles/*